h1 {
  text-align: center;
  font-size: 300%;
  font-style: normal;
  font-family: futura, courier new, monospace;
  opacity: 1;
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(resources/Vancouver-2667.jpg);
  background-size: 1920px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  font-family: courier new, monospace;
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
}

li a:hover,
.dropdown:hover .dropbtn {
  opacity: 0.6;
  font-size: 110%;
  font-weight: bolder;
  text-decoration: underline;
}

li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  color: black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  color: black;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
  margin-left: auto;
  display: block;
  margin-right: auto;
  margin: 0 auto;
  display: table;

}

.social {
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin: 0 auto;
    display: table;
    font-size: 200%;
}

h3 {
  text-align: center;
  font-size: 200%;
  font-style: normal;
  font-family: courier new, monospace;
  opacity: 1;
  color: black;
  margin: 0px;
  padding: 0px;
}

i{
  color: black;
}